{% extends "base.html" %}
{% block conteudo %}

<div class="card">

    <div class="card-body">
    
    <h2 class="mb-3">
    
    Minhas Tarefas
    
    </h2>
    
    <div class="alert alert-info">
    
    <strong>Frase do dia:</strong>
    
    <br>
    
    {{ frase }}
    
    </div>
    
    <a href="/nova_tarefa"
    class="btn btn-success mb-3">
    
    <i class="bi bi-plus-circle"></i>

    Nova tarefa

    
    </a>

    <form class="mb-3">

        <select
        name="status"
        class="form-select">
        
        <option value="">Todas</option>
        
        <option>Pendente</option>
        
        <option>Em andamento</option>
        
        <option>Concluída</option>
        
        </select>
        
        <button
        class="btn btn-primary mt-2">
        
        Filtrar
        
        </button>
        
        </form>
    
    <table class="table table-hover">
    
    <tr>
    
    <th>Título</th>
    
    <th>Status</th>
    
    <th>Ações</th>
    
    </tr>
    
    {% for tarefa in tarefas %}
    
    <tr>
    
    <td>{{ tarefa["titulo"] }}</td>
    
    <td>{{ tarefa["status"] }}</td>
    
    <td>
    
    <a
    href="/editar/{{ tarefa['id'] }}"
    class="btn btn-warning btn-sm">
    
    <i class="bi bi-pencil"></i>

    Editar
    
    </a>
    
    <a
    href="/excluir/{{ tarefa['id'] }}"
    class="btn btn-danger btn-sm"
    onclick="return confirmarExclusao()">
    
    <i class="bi bi-trash"></i>

    Excluir

    
    </a>
    
    </td>
    
    </tr>
    
    {% endfor %}
    
    </table>
    
    </div>
    
    </div>


    <h3 class="mt-5">

        Resumo das tarefas
        
        </h3>
        
        <canvas id="grafico"></canvas>

        <script>

            const ctx = document.getElementById("grafico");
            
            new Chart(ctx,{
            
            type:"bar",
            
            data:{
            
            labels:["Pendentes","Em andamento","Concluídas"],
            
            datasets:[{
            
            label:"Quantidade",
            
            data: [
                {{ tarefas | selectattr("status", "equalto", "Pendente") | list | length }},
                {{ tarefas | selectattr("status", "equalto", "Em andamento") | list | length }},
                {{ tarefas | selectattr("status", "equalto", "Concluída") | list | length }}
            ]
            
            </script>
            
{% endblock %}