body{
    font-family: Arial, sans-serif;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
.jinja{
    border: 10px solid palevioletred;
    border-radius: 20px;
    margin-left: 36%;
    margin-top: 7%;
    padding: 100px;
}
.login{
    border: 10px solid palevioletred;
    border-radius: 20px;
    margin-left: 36%;
    margin-top: 10%;
    padding: 100px;
}
#resultado{
    width: 76px;
    height: 25px;
    background-color: black;
    border-radius: 5px;
}
.aprovado{
    color: rgb(52, 247, 52);
    padding: 2px;
}
.reprovado{
    color: red;

}